div {
    display: block;
    background-color: crimson;
    height: 200px;
    width: 200px;
    /* display: none ; 
    visibility: hidden;  */
}

span {
    display: inline;
    background-color: blue;
    /* height: 200px; */
    /* width: 200px; */
    /* display: block; */
}

img {
    display: inline-block;
    width: 200px;

}